.logo {
  width: 80%;
  height: 100%;
  padding:10%;
  padding-top: 12px;
  padding-bottom: 0px;
  margin-left: 12%;

}

.toolbar-background {
  background: #FFFFFF !important;
}

ion-card{
  margin-top: 70px !important;
}


ion-icon{
  color: #EBEBEB;
  border-color: 2px solid black;
}

.icono{
float: right;
padding-right:8%;
}

.icono-more{
float: right;
}

ion-label{
  color: #5DC7C4 !important;
}

 .titulo{
  color: #C8C8C8  !important;
  padding-bottom: 0px;
}

.titulo2{
  color: #C8C8C8;
  padding-top:0px;
}

h1 {
  color: #C8C8C8  !important;
  font-weight: bolder  !important;
}

.centrado{
  text-align: center;
}

.boton{
  background-color: #5DC7C4;
  }

.boton-siguiente{
  padding-left: 55px;
  padding-right: 55px;
}

.inputs  {
  border:#C8C8C8 ;
  border-bottom: 2px solid #C8C8C8 !important;
  text-align: center;


  color: #C8C8C8;
}

ion-list{
  margin: auto;
  padding-left: 38px;
  padding-right: 38px;
  margin-left: 10% !important;
  margin-right: 10% !important;

}

ion-item{
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 10px !important;
}

ion-select{
  padding-left: 16px !important;
  color: #C8C8C8  !important;
  border-color: #5DC7C4 !important;
}

ion-datetime{
 text-align: center;
  color: #C8C8C8  !important;
}


ion-label{
  font-weight: bold;
}

ion-input{
  border-bottom-color: #C8C8C8 !important;
}
input {
  text-align: center !important ;
}

.select-icon-inner{
  color: #5DC7C4  !important;
}

  ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
