<ion-header>
  <ion-navbar>
    <ion-title>
        <ion-icon class="icono-more" ios="ios-more" md="md-more"></ion-icon>
        <ion-icon class="icono" ios="ios-bookmark" md="md-bookmark"></ion-icon>
        <ion-icon class="icono" ios="ios-share" md="md-share"></ion-icon>

    </ion-title>
  </ion-navbar>
</ion-header>
