<app-header></app-header>
<ion-content class="card-formulario">
<ion-card>
 <form [formGroup]="formulario2" (ngSubmit)="showAlert()" >
<ion-grid>
<ion-row>

  <ion-col col-11>
    <img src="assets/img/logo.jpg" class="logo img-fluid" alt="...">
  </ion-col>
  <ion-col class="titulo centrado" col-12><h1>2/2</h1></ion-col>
  <ion-col class="titulo2 centrado" col-12>Direcciones y Contactos</ion-col>


     <ion-col col-6  >
       <ion-item>
       <ion-label class=" centrado" stacked>Pais</ion-label>
       <ion-select  placeholder="Venezuela"class="inputs centrado" formControlName="pais">
       <ion-option value="Venezuela"  selected="true">Venezuela</ion-option>
       <ion-option value="Mexico">Mexico</ion-option>
     </ion-select>
       </ion-item>
     </ion-col >

     <ion-col col-6  >
       <ion-item>
       <ion-label class=" centrado" stacked>Edo./Prov./Dpto.</ion-label>
       <ion-select placeholder="Distrito Capital" class="inputs centrado" formControlName="localidad">
       <ion-option value="distrito capital" selected="true">Distrito Capital</ion-option>
     </ion-select>
       </ion-item>
     </ion-col >


     <ion-col col-3  >
       <ion-item  class="centrado">
       </ion-item>
     </ion-col >

     <ion-col col-6  >
       <ion-item>
       <ion-label class=" centrado" stacked>Ciudad</ion-label>
       <ion-select  placeholder="Caracas" class="inputs  centrado" formControlName="ciudad">
       <ion-option value="caracas" selected="true">Caracas</ion-option>
       <ion-option value="tachira">Tachira</ion-option>
     </ion-select>
       </ion-item>
     </ion-col >

     <ion-col col-3  >
       <ion-item  class="centrado">
       </ion-item>
     </ion-col >

   <ion-item  class="centrado">
   <ion-label class=" centrado" stacked>Direccion</ion-label>
   <ion-input class="inputs" type="text" formControlName="direccion"
    placeholder="Urb Lorem calle 128 Apt 12 piso 2"></ion-input>
   </ion-item>


     <ion-col col-4>
       <ion-item>
       <ion-label class=" centrado" stacked>Cod. de Pais </ion-label>
       <ion-select placeholder="+58" class="inputs  centrado" formControlName="cod">
       <ion-option value="+58" selected="true">+58</ion-option>
     </ion-select>
       </ion-item>
     </ion-col >
     <ion-col col-8>
       <ion-item  class="centrado">
       <ion-label class=" centrado" stacked>Telefono</ion-label>
       <ion-input class="inputs" type="text" formControlName="telefono"
       placeholder="212 123 45 67"></ion-input>
       </ion-item>
     </ion-col >




</ion-row>
<ion-row>
  <ion-col col-12 class="boton-siguiente">
  <button type="submit" class="button-block boton button"ion-button round>Continuar</button>
  </ion-col>
</ion-row>


</ion-grid>
</form>
